{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="middleForm">

        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">
                    logout
                </a>
            </div>
        {% endif %}

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}


        {#        {{ form_row(registrationForm.email) }} #}
        <div class="form-label">
            {{ form_label(registrationForm.email) }}
        </div>
        {{ form_widget(registrationForm.email) }}


        {#        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }} #}

        <div class="form-label">
            {#            {{ form_label(registrationForm.plainPassword) }} #}
            Password
        </div>
        {{ form_widget(registrationForm.plainPassword) }}

        {#        {{ form_row(registrationForm.agreeTerms) }} #}

        <div class="form-label">
            {{ form_widget(registrationForm.agreeTerms) }}
            <span>
                {{ form_label(registrationForm.agreeTerms) }}
            </span>
        </div>


        <button type="submit" class="btn btn-register">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
