{% extends 'base.html.twig' %}

{% block title %}Novel index{% endblock %}

{% block body %}
    <h1>Novel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>DayOfWeek</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for novel in novels %}
            <tr>
                <td>{{ novel.id }}</td>
                <td>{{ novel.title }}</td>
                <td>{{ novel.description }}</td>
                <td>{{ novel.author }}</td>
                <td>{{ novel.dayOfWeek ? novel.dayOfWeek|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_novel_show', {'id': novel.id}) }}">show</a>
                    <a href="{{ path('app_novel_edit', {'id': novel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_novel_new') }}">Create new</a>
{% endblock %}
