{% extends 'base.html.twig' %}

{% block title %}Add{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/add.css') }}">
{% endblock %}

{% block body %}
    <div class="middleForm" >

        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

        {{ form_errors(addForm) }}

        {{ form_start(addForm) }}

        <div class="form-label">
            {{ form_label(addForm.type) }}
        </div>
        <div class="form-field form-control ">
            {{ form_widget(addForm.type) }}
        </div>

        <div class="form-label">
            {{ form_label(addForm.title) }}
        </div>
        <div class="form-field form-control ">
            {{ form_widget(addForm.title) }}
        </div>

        <div class="form-label">
            {{ form_label(addForm.description) }}
        </div>
        <div class="form-field form-control ">
            {{ form_widget(addForm.description) }}
        </div>

        <div class="form-label">
            {{ form_label(addForm.author) }}
        </div>
        <div class="form-field form-control ">
            {{ form_widget(addForm.author) }}
        </div>


        <button type="submit" class="btn btn-register">Add</button>
        {{ form_end(addForm) }}
    </div>
{% endblock %}
