{% extends 'base.html.twig' %}

{% block title %}Add{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/add.css') }}">
{% endblock %}

{% block body %}
    <div class="middleForm">

        <h1 class="h3 mb-3 font-weight-normal">You're adding</h1>

        {{ form_errors(addForm) }}

        {{ form_start(addForm) }}

        <div class="form-label">
            {{ form_label(addForm.type) }}
        </div>
        {{ form_widget(addForm.type) }}

        <div class="form-label">
            {{ form_label(addForm.title) }}
        </div>
        {{ form_widget(addForm.title) }}

        <div class="form-label">
            {{ form_label(addForm.description) }}
        </div>
        {{ form_widget(addForm.description) }}

        <div class="form-label">
            {{ form_label(addForm.author) }}
        </div>
        {{ form_widget(addForm.author) }}

        <div class="form-label">
            {{ form_label(addForm.daysOfWeek) }}
        </div>
        {#        <div class="form-field form-control "> #}
        {#            {{ form_widget(addForm.daysOfWeek) }} #}
        {#        </div> #}
        <div class="days-of-week-checkboxes">
            {% for choice_label, choice_value in addForm.daysOfWeek %}
                <label>
                    {{ form_widget(choice_value) }}
                    {{ choice_value.vars.label }}
                </label>
            {% endfor %}
        </div>


        <button type="submit" class="btn btn-add">Add</button>
        {{ form_end(addForm) }}
    </div>
{% endblock %}
