{% extends 'base.html.twig' %}

{% block title %}{{ readable.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/readableFocus.css') }}">
{% endblock %}

{% block body %}
    <div class="vignette">
        <h1 class="title">{{ readable.title }}</h1>
        <p class="author">Author: {{ readable.author }}</p>

        <div class="section">
            <h2>Description</h2>
            <p>{{ readable.description }}</p>
        </div>

        <div class="section">
            <h2>Schedule</h2>
            <ul class="schedule">
                {% for day in readable.dayOfWeek %}
                    <li>{{ day }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

