{% extends 'base.html.twig' %}

{% block title %}{{ readable.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/readableStyle.css') }}">
{% endblock %}

{% block body %}
    <div class="border border-light border-2 rounded p-2" style="margin-top: 7%; background: #383838;">

        <h1 class="readable-title">{{ readable.title }}</h1>
        <p class="readable-author">Author: {{ readable.author }}</p>

        <div class="readable-description">
            <h2>Description</h2>
            <p>{{ readable.description }}</p>
        </div>

        <div class="readable-schedule">
            <h2>Schedule</h2>
            <ul>
                {% for day in readable.dayOfWeek %}
                    <li class="day">{{ day }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
